In [1]:
#    MAIO,2022
"""coisas que voce tem que saber futuramente (meio que como objetivos):

- Manipular arquivos: 
1. abrir um arquivo, ler o conteudo dele e processar. 
2. Salvar coisas em arquivos

- estruturas de dados
- orientação a objetos
- biblioteca do Python (pandas, coisas de data science etc )

- Python via docker image
1. Entender como criar uma imagem de docker
2. Transformar um codigo/projeto de python em uma imagem docker

- Python usando banco de dados
1. Conectar um software de python a um BD
2. Fazer transacoes no banco (insert, read, update, delete)

- Python usando Web APIs
1. Criar um projeto python que seja uma Restful API (com metodos como GET, POST, DELETE, PUT, PATCH)
2. Criar um projeto python que seja uma API GraphQL

- Python e cloud
1. Criar um projeto que seja produtor e consumidor de cloud streams
1.1 GCP (google cloud)
1.2 AWS kinesis (amazon)
1.3 AWS SQS (amazon simple queue service)
1.4 Azure (microsoft)"""



"CALENDARIO INICIAL:
'SEG: PYTHON
'TER:MACHINE LEARNING
'QUA:PYTHON
'QUI:DATA SCIENCE
'SEX:PYTHON
'SAB:AUTOMATION

'SEGUNDO CALENDARIO
'Ciclo de vida do projeto e do produto. Gerenciamento de Projetos. Tripla Restrição. Ética e responsabilidade profissional. Técnicas PMI e Metodologias ágeis (SCRUM).
'linguagem ANSI SQL e PL/SQL em banco de dados Oracle. Você conhecerá elementos como: procedures, functions, packages, triggers, collections, PL/SQL tables, PL/SQL com Bulk processing, Autonomous transactions, Exception handling, SQL tuning. Introdução às novas tendências como Big Data, NoSQL (MongoDB).

SyntaxError: invalid syntax (4164593167.py, line 33)

In [ ]:
print('Olha \n\"só\" isso aqui')

In [ ]:
print("""Olha "de" 'novo' aqui""")

In [ ]:
print("""Este exemplo fodido
com 4 linhas
de \ codigo""")

In [ ]:
quote = """Este exemplo fodido
    com 4 linhas
de \ 
codigo"""

In [ ]:
quote

In [ ]:
quote

In [ ]:
# """Find the minimum of three values."""

nbr1 = int(input('Enter first number: '))
nbr2 = int(input('Enter second number: '))
nbr3 = int(input('Enter third number: '))

min1 = nbr1

if nbr2 < min1:
    min1 = nbr2
if nbr3 < min1:
    min1 = nbr3
print("The minimum value is: ", min1)

In [ ]:
########DATA SCIENCE SNIPPETS/SCRIPTS/EXAMPLES########

min,max,sum,range

In [ ]:
#Calculate the minimum,maximum and range values inbetween 45,67,76,24,98,92

minimum = min(45,67,76,24,98,9)
print('The minimium valor is: ', minimum)

In [ ]:
1 #Calculate the minimum,maximum and range values inbetween 45,67,76,24,98,92
maximum = max(45,67,76,24,98,9)
print('The maximum valor is: ', maximum)

In [ ]:
rgn = range(4,67)
print('The range valor is: ', rgn)

In [ ]:
grade = 30

if grade >= 50:
    print('Passou na prova arrombado!')
if grade <= 49:
    print('Se fodeo otario,reprovou!')

In [ ]:
grade = 20

if grade in range(50,100):
    print('Passou')
if grade not in range(50,100):
    print('reprovado')

In [ ]:
grade = 30

if grade >= 50:
    print('Passou na prova arrombado!')
else:
    print('Se fodeo otario,reprovou!')

In [ ]:
valor = int(input('Insira um numero a ser multiplicado: '))

aux = 0

print('*' * 18)
print('A tabuada de {}'.format(valor))
print('*' * 18)

while (aux <= 10):
    print('{0} X {1} = {2}'.format(aux,valor,(aux * valor)))
    aux = aux + 1

In [ ]:
tabuada = int(input('Digita um numero a ser multiplicado: '))
for num in range(1,11):
    print('{} x {} = {}'.format(num,tabuada,num * tabuada))

In [ ]:
a = 3 
a += 9

In [ ]:
a

In [ ]:
#Media da turma

total = 0
grade_counter = 0
grades = [45, 87, 98, 52, 74, 65, 14, 79, 99, 32, 45, 65, 25, 58, 95]

for grade in grades:
    total += grade
    grade_counter += 1
    
average = total / grade_counter
print(f'Class average is {average}')

In [ ]:
grade

In [ ]:
sep= end=

In [ ]:
total = 0
grade_counter = 0
grade = int(input('Insira a média, fim para finalizar: '))

while grade != -1:
    total += grade
    grade_counter += 1
    grade = int(input('Insira a média, fim para finalizar: '))

if grade_counter != 0:    
    average = total / grade_counter
    print(f'Media da classe é de {average:.2f}')
else:    
    print('Nenhuma media foi inserida')

In [ ]:
for number in range(100,-1,-1):
    print(number, end=' ')

In [ ]:
for number in range(10,0,-2):
    print(number, end=' ')

In [ ]:
for number in range(99,-1,-11):
    print(number, end=' ')

In [ ]:
total = 0
for number in range(2,101,2):
    total += number

In [ ]:
total

In [ ]:
from decimal import Decimal

principal = Decimal('1000.00')
rate = Decimal('0.05')

for year in range(1,11):
    amount = principal * (1 + rate) ** year
    print(f'{year:>2} {amount:>10.2f}')

In [ ]:
from decimal import Decimal

print(f"{Decimal('37.45') * Decimal ('1.0625'):.2f}")

In [ ]:
for number in range(100):
    if number == 10:
        break
    print(number, end=' ')

In [ ]:
for number in range(10):
    if number == 5:
        continue
    print(number, end=' ')

In [ ]:
gender = 'Velha'

age = 74

if gender == 'Velha' and age >= 65:
    print('Cougar')
else:
    print('Coroa safada')

In [ ]:
media = 50
exame_final = 40

if media >= 90 or exame_final >= 90:
    print('Passou, aleluia!')
else:
    print('Se fudeu troxa')

In [ ]:
grades = [45,467,894,379,903,45]
sum(grades) / len(grades)

In [ ]:
"FUNÇÕES"

def square(number):
    """Calculate the square of a number"""
    return number ** 2

In [ ]:
square(50)

In [ ]:
square??

In [ ]:
statistics?

In [ ]:
def square_root(number):
    """Finds a square root from a given number"""
    return number ** 0.5

In [ ]:
square_root(6.25)

In [ ]:
def maximum(value1,value2,value3):
    """Determina o valor maximo de 3 valores"""
    max_value = value1
    if value2 > max_value:
        max_value = value2
    if value3 > max_value:
        max_value = value3
    return max_value

In [ ]:
maximum('casa','casaa','casaaaa')

In [ ]:
maximum(-505.1,0.500,5.00)

In [ ]:
max([14,54,87,51,2])

In [ ]:
###RANDOM NUMBER GENERATOR###

import random

for roll in range(10):
    print(random.randrange(1,7), end=' ')

In [ ]:
###Rolling a dice Six million Times,Random Number Generator ###

import random

#face frequency counters

frequency1 = 0
frequency2 = 0
frequency3 = 0
frequency4 = 0
frequency5 = 0
frequency6 = 0

#Six million die rolls

for roll in range(6000000):
    face = random.randrange(1,7)
    
    if face == 1:
        frequency1 += 1
    elif face == 2:
        frequency2 += 1
    elif face == 3:
        frequency3 += 1
    elif face == 4:
        frequency4 += 1        
    elif face == 5:
        frequency5 += 1
    elif face == 6:
        frequency6 += 1    

print(f'Face{"Frequency":>13}') 
print(f'{1:>4}{frequency1:>13}')
print(f'{2:>4}{frequency2:>13}')
print(f'{3:>4}{frequency3:>13}')
print(f'{4:>4}{frequency4:>13}')
print(f'{5:>4}{frequency5:>13}')
print(f'{6:>4}{frequency6:>13}')

In [ ]:
random.seed(31)

for roll in range(10):
    print(random.randrange(1,7), end=' ')

In [ ]:
"""Simulate 20 coin flips and print heads and tails"""
import random

for coins in range(20):
    print('Heads' if random.randrange(2) == 0 else 'Tails', end=' ')

In [ ]:
"""Simulando o jogo Craps"""

import random

def roll_dice():
    """Roll two dices and return their face values as Tuple"""
    die1 = random.randrange(1,7)
    die2 = random.randrange(1,7)
    return (die1,die2)

def display_dice(dice):
    """Display one roll of the two dice"""
    die1, die2 = dice
    print(f'Player rolled {die1} + {die2} = {sum(dice)}')
    
die_values = roll_dice()
display_dice(die_values)

sum_of_dice = sum(die_values)

if sum_of_dice in (7,11):
    game_status = 'Won!'
    
elif sum_of_dice in (2,3,12):
    game_status = 'You lose!'
else:
    game_status = 'Continue'
    my_point = sum_of_dice
    print('Point is', my_point)

while game_status == 'Continue':
    die_values = roll_dice()
    display_dice(die_values)
    sum_of_dice = sum(die_values)
    
    if sum_of_dice == my_point:
        game_status = 'Won!'
    elif sum_of_dice == 7:
        game_status = 'You lose!'
        
if game_status == 'Won!':
    print('Player wins')
else:
    print('Player loses')

In [ ]:
###Basic tuple###

tromba = ('trombz', [54, 65, 98])

tr1,tr2 = tromba

In [ ]:
tromba

In [ ]:
import math
math.sqrt(55)

In [ ]:
###Emprestimo##

house_value = float(input('What is the price of the house in PLN'))
salary = float(input('Whats your salary PLN'))
pay_time = int(input('In how many months do you want to pay for it?'))

interest_rate = (house_value / 100 * 3.5) / 12
payment = (salary / 100 * 30)
monthly_payment = (house_value / pay_time) + interest_rate

if payment >= monthly_payment:
    print('Your loan has been approved')
else:
    print('Your loan was denied due to monthly payment being above of 30% of your salary')
    
print("30% from you salary is PLN {:.2f} and your monthly payment would be PLN {:.2f} and with interest rate of {:.2f}".format(payment,monthly_payment,interest_rate))

In [ ]:
def rectangle_area(length = 2, width = 3):
    """Returns rectangle area"""
    return  length * width

rectangle_area(10, 5)

In [ ]:
def rectangle_area(length, width):
    """Returns rectangle area"""
    return  length * width

rectangle_area

###when you have a function with lots of parameters, you must have the parameters defined which doesnt  have a default value assigned as first on the list

In [ ]:
def average(*args):
    """sum of args"""
    """Arguments like must be place as the last one on the parameter list"""
    return sum(args) / len(args)

In [ ]:
average(5,10,15,30)

In [ ]:
grades = [54,57,24,39,12,3,912]

average(*grades)
### * unpacks a pack of values

In [ ]:
def calculate_product(*args):
    product = 1
    for value in args:
        product += value
    return product

In [ ]:
calculate_product(*range(1,10,2))

In [ ]:
'Coordinates: {latitude}, {longitude}'.format(latitude='37.24N', longitude='-115.81W')

In [ ]:
##Functions cannot modify global values assigned
##Variables that already exist but it was created with the same name inside of a function,
##that will be created locally inside the function, however if you call the variable,the value given will remain the same as previously configured in the global variable

In [ ]:
##If you want to explicity change/modify a global value, that can be done using the global function inside of the function created

In [ ]:
H = 40

def access_global():
    print('O valor é de: ', H)

access_global()

In [ ]:
H = 40

def access_global():
    H = 45
    print('O valor é de: ', H)

access_global()

In [ ]:
#modifying a global value

H = 40

def access_global():
    global H
    H = 'tolete'
    print('O valor é de: ', H)

access_global()

In [ ]:
H

In [ ]:
##functions can be called as objects in Python

In [ ]:
##From Modules you can call objects directly without having to write the whole 'from' sequence

In [ ]:
from math import ceil,floor

In [ ]:
floor(43.5)

In [ ]:
ceil(445.4)

In [ ]:
#wildcard import , BE CAREFUL WHEN USING IT!

e = 'ola'

from math import * # * means that every object inside of the module math can be called, and in this case,it will overwrite the variable 'e' for the mathematical constant e

In [ ]:
e

In [ ]:
import statistics as stats

grades = [345,53,433,42,231]

stats.mean(grades)

In [ ]:
import decimal as dec

dec.Decimal('2.3')**2

In [ ]:
##Passign arguments to functions
'pass by value'
'pass by reference'

In [ ]:
#a value of a variable IT IS AN OBJECT

In [ ]:
X  = 7
id(X)

In [ ]:
#That number is actually where the value is store in memory, and also is the memory address of it,called Object Identifier in Python

In [ ]:
def cube(number):
    print('id(number):',id(number))
    return number ** 3

In [ ]:
cube(7)

In [ ]:
def cube(number):
    print('number is X:', number is X)
    return number ** 3

In [ ]:
cube(7)

In [ ]:
def cube(number):
    print('id(number) before mod number:', id(number))
    number **= 3
    print('id(number) after mod number:', id(number))      
    return number

In [ ]:
cube(7)

In [ ]:
id(X)

In [ ]:
#integers,floats,strings,tuples, all of that is immmutable

In [ ]:
#Functional Style programming

>What vs How
>External Interation
>Internal Interation
>Declarative programming
>pure functions

LISTAS E TUPLES

In [ ]:
### LISTS AND TUPLES###

lista1 = [34,56,67,7,8,4321,9] # LISTAS SÃO DEFINIDAS POR C O L C H E T E S, COLCHETE!!!!!!!!!!!

lista1[4],[3]

In [ ]:
len(lista1)

In [ ]:
type(lista1)

In [ ]:
lista1?

In [ ]:
lista1[-4]

In [ ]:
lista1 [3] = 302

In [ ]:
lista1

In [ ]:
##adding content into a list##

outra_lista = []

for number in range(1,11):
    outra_lista += [number]
    
outra_lista

In [ ]:
#adição

a = 23
b = 34

b += a
print('Adicao: %d' % (b))

In [ ]:
v = ['casa']
vb = ['velha']

v += vb

v

In [ ]:
lista00 = [2,23,4,5,65,7]
lista001 = [0,99,88,77,66,55]

junto  = lista00 + lista001

for ahk in range(len(junto)):
    print(f'{ahk}: {junto[ahk]}')

In [ ]:
armas = ['AR15, GLOCK, M107, BERETTA']
explosivos = ['c4, granada, dinamite, claymore']

junto  = armas + explosivos

for ahk in range(len(junto)):
    print(f'{ahk}: {junto[ahk]}')

In [5]:
lista00 = [2,23,4,5,65,7]
lista001 = [0,99,88,77,66,55]

junto  = lista00 + lista001

for i, valor in enumerate(junto):
    print(f'{i}: {valor}')

0: 2
1: 23
2: 4
3: 5
4: 65
5: 7
6: 0
7: 99
8: 88
9: 77
10: 66
11: 55

In [6]:
numeros = [3,6,9,4,5,7,8,9,76,43]

def cube_list(numeros):
    for i, valor in enumerate(numeros):
        valor **= 3
        print ('Os valores ao cubo são: ', valor)

In [7]:
cube_list(numeros)

Os valores ao cubo são:  27
Os valores ao cubo são:  216
Os valores ao cubo são:  729
Os valores ao cubo são:  64
Os valores ao cubo são:  125
Os valores ao cubo são:  343
Os valores ao cubo são:  512
Os valores ao cubo são:  729
Os valores ao cubo são:  438976
Os valores ao cubo são:  79507

In [8]:
characters = []
a = 'Birthday'

characters += a

In [9]:
characters

['B', 'i', 'r', 't', 'h', 'd', 'a', 'y']

NameError: name 'numbers' is not defined